body {
  font-family: sans-serif;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
}

.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #ffffe0;
  width: 400px;
  height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
